<div class="row">
    <div class="col-xs-12">
        <h3>{{playlist.name}} <small>by {{playlist.author}}</small></h3>
        <span class="label label-primary">Created: <small>{{playlist.createdOn | date: 'shortDate'}}</small></span>
        <span class="label label-success">Last Updated: <small>{{playlist.lastUpdated | date: 'fullDate'}}</small></span>
    </div>
</div>
<div class="row">
    <div class="col-xs-12" id="yt-display">

        <div ng-show="yt.videoid" class="center-block">
            <youtube resizable width="{{YTWidth()}}" height="{{YTHeight()}}" videoid="{{yt.videoid}}"></youtube>
            <ul class="pager">
              <li class="previous"><a ng-click="prev_video()" href="">← Prev</a></li>
              <!-- <li><button ng-click="play_video()" class="btn btn-primary">Play</button></li> -->
              <li><span class="label label-info">{{playerStatus}}: {{currentVideo.title}}</span></li>
              <li class="next"><a ng-click="next_video()" href="">Next →</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div>
            <h3>Videos <span class="badge">{{playlist.video.length}}</span></h3>
            <p><a href="#/playlist/edit/{{playlist._id}}">Edit playlist</a></p>
            <div class="list-group">
                <div class="list-group-item" 
                     ng-repeat="vid in playlist.video" 
                     ng-class="{'active': isCurrentVideo(vid.url)}"
                     ng-click="play($index)">
                     {{vid.title}}
                </div>
            </div>
        </div>
        
    </div>
</div>
