<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
        <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="/manifest.json">
        <meta name="msapplication-TileColor" content="#ffc40d">
        <meta name="msapplication-TileImage" content="/mstile-144x144.png">
        <meta name="theme-color" content="#ffffff">

        <title><%= title %></title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/0.4.9/toaster.min.css" />
        <link rel="stylesheet" href="/styles/site.css" />
    </head>
    <body>
        <div class="container-fluid">
            <video id="yt-video" width="320" height="480" controls>
                <source src="https://r4---sn-nx57yn7s.googlevideo.com/videoplayback?upn=LkfvAMIHAVo&expire=1426626857&sver=3&itag=18&ratebypass=yes&requiressl=yes&source=youtube&dur=553.076&fexp=900720%2C901222%2C907263%2C908211%2C927622%2C9406125%2C9406394%2C9406819%2C9407103%2C9407718%2C9408035%2C945907%2C948124%2C948813%2C951511%2C951703%2C952008%2C952302%2C952612%2C952901%2C955301%2C957201%2C959701%2C960613%2C961404&key=yt5&signature=44F544925ABB374454949478725DE1A2593F5F28.EF92672458A11429D2FD2F8542FAFCCFAF999737&sparams=dur%2Cid%2Cinitcwndbps%2Cip%2Cipbits%2Citag%2Cmime%2Cmm%2Cms%2Cmv%2Cpl%2Cratebypass%2Crequiressl%2Csource%2Cupn%2Cexpire&mime=video%2Fmp4&ipbits=0&initcwndbps=1877500&ip=67.160.140.4&pl=18&mt=1426605186&mv=m&ms=au&mm=31&id=o-AFB-tuVocNHlIf2IwNpvlgx6CIE2Q3LMlRYP0pumsPpQ">
            </video>

        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular-route.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular-resource.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular-animate.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/0.4.9/toaster.min.js"></script>
    </body>
</html>