body {
    background-color: #432523;
    color: #efefef;
}

button, input {
    color: #333333;
}

.searchBox {
	width: 400px;
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
    height: 300px;
    color: #333333;
}